.app {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #1C1C1C, #2c5364);
  color: #ffffff;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* --- HEADER COMPONENT --- */
.header {
  width: 98%;
  padding: 2px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.name {
  display: block;
  padding: 5px;
}
h1 {
  font-family: 'Dancing Script', cursive;
  color: #ef665c;
  font-size: 25px;
  padding: 2px;
}
h2 {
  color: #008080;
  font-size: 20px;
}
audio {
  height: 25px;
  width: 190px;
  padding: 8px;
  margin: 30px auto;
}

/* --- MAIN COMPONENT --- */
.mainContainer {
  display: block;
  width: 95%;
  min-height: 310px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

/* --- MENU COMPONENT --- */
.menu {
  display: inline-flex;
  width: 98%;
  height: 30px;
  margin: 10px auto 20px 3px;
  background-color: #ef665c25;
  border-radius: 20px;
}
.menuIcon {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-image: url('/img/icons8-circled-menu-100.png');
  /* icon source: www.icons8.com */
  background-size: cover;
}
.navBar {
  height: 30px;
  width: 95%;
  text-align: left;
}
.navItem {
  display: inline-block;
  padding: 6px 2px;
  font-size: 17px;
}
.navItem a {
  color: #008080;
}
.navItem :hover, .navItem :focus {
  font-size: 18px;
  color: #ffffff;
}

/* --- HOME COMPONENT --- */
.box {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  perspective: 800px; /* creates the 3d space */
  perspective-origin: center;
}
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d; /* in order for subsequent children to inherit his parent’s perspective */
  animation-name: infiniteCarousel;
  animation-direction: reverse;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}
.slide {
  position: absolute;
  top: 35%;
  width: 200px;
  height: 180px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #2c5364;
}
.one {
  background-image: url('/img/frog-1610551_640.jpg');
  /* image source: https://pixabay.com/ro/photos/broasc%C4%83-sta-banc%C4%83-banc-odihn%C4%83-1610551/ */
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(0deg) translateZ(120px);
}
.two {
  background-image: url('/img/frog-1339904_640.jpg');
  /* image source: https://pixabay.com/ro/photos/broasc%C4%83-figura-fi%C5%9Fiere-stiv%C4%83-1339904/ */
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(120deg) translateZ(120px);
}
.three {
  background-image: url('/img/frog-881660_640.jpg');
  /* image source: https://pixabay.com/ro/photos/broasc%C4%83-sta-banc%C4%83-banc-odihn%C4%83-1610551/ */
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(240deg) translateZ(120px);
}
.slide h2 {
  font-size: 17px;
  color: #008080;
  float: right;
  padding: 8px 18px 8px 5px;
}
.slide p {
  display: block;
  margin: 140px auto 20px auto;
}

/* carousel method adapted from https://3dtransforms.desandro.com/carousel */
@keyframes infiniteCarousel {
  0%  {transform: rotateY(0deg);
    transition-timing-function: 1s ease-out;}
	33.3%  {transform: rotateY(120deg);
  transition-timing-function: 1s ease-out;}
	66.7%  {transform: rotateY(240deg);
  transition-timing-function: 1s ease-out;}
	100% {transform: rotateY(360deg);
  transition-timing-function: 1s ease-out;}
}


/* --- PROJECTS & PROJECT COMPONENTS --- */
.projectsContainer {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px;
}
.title {
  font-family: 'Dancing Script', cursive;
  color: #ef665c;
  font-size: 23px;
  text-align: left;
  padding: 5px;
}
.content {
  font-size: 18px;
  text-align: justify;
  padding: 2px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  min-width: 260px;
  height: 280px;
  padding: 2px;
  margin: 40px 25px;
  perspective: 1200px;
}
.project {
  width: 95%;
  height: 95%;
  position: relative;
  transition: transform 1.5s linear;
  transform-style: preserve-3d;
  transform-origin: center;
}
.front, .back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid  #ef665c;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
  transform-origin: center;
  }
.projectTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 21px;
  font-weight: bolder;
  color: #ef665c;
  margin: 10px auto;
}
.right{
  background-image: url("/img/icons8-double-right-100.png");
  float: right;
}
.left {
  background-image: url("/img/icons8-double-left-100.png");
  float: left;
}
.right, .left {
  width: 25px;
  height: 25px;
  background-size: cover;
  margin: 8px;
}
.preview {
  border-radius: 10px;
  min-width: 150px;
  width: 95%;
  margin: 5px auto;
}
.description {
  text-align: justify;
}
a {
  padding: 10px;
  color: #ef665c;
  text-decoration: none;
  font-weight: bolder;
}
.flipped {
  transform: rotateY(180deg);
}


/* --- ABOUT ME COMPONENT --- */
.picture {
  max-height: 110px;
  max-width: 110px;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  float: left;
  margin: 1px 20px 5px 15px;
}


/* --- CONTACT COMPONENT --- */
.contactForm {
  width: 95%;
  margin: 30px auto 5px auto;
}
button, textarea, input {
  border-radius: 10px;
}
input {
  width: 90%;
  height: 20px;
}
textarea {
  width: 90%;
  min-height: 100px;
}

/* --- FOOTER COMPONENT --- */
.footer {
  width: 98%;
  height: 80px;
  bottom: 0px; /* positions the footer at the bottom of the page */
  padding-top: 5px;
  justify-content: center;
  align-content: center;
}
.logos{
  display: inline-flex;
}
.item {
  display: block;
  padding: 3px 15px;
  height: 30px;
}
.socialLogo .email {
  display: block;
  max-height: 100%;
  width: auto;
  align-self: center;
}
.signiture {
  font-family: 'Dancing Script', cursive;
  font-size: 17px;
  margin: 10px auto 5px;
  flex-flow: column;
}
