.app {
  text-align: center;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.signiture {
  font-family: 'Dancing Script', cursive;
  font-size: 19px;
}

/* --- HEADER COMPONENT --- */
.header {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  align-self: center;
}

.name {
  display: block;
  padding: 5px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #ef665c;
  font-size: 30px;
}

h2 {
  color: #317067;
  font-size: 22px
}

.music {
  display: block;
  height: 50px;
  width: auto;
  float: right;
  padding: 5px;
}

/* --- NAVBAR COMPONENT --- */
.navBar {
  width: 95%;
  margin: auto;
  vertical-align: bottom;
}

.navItem {
  display: inline-block;
  height: 25px;
  width: 25%;
  background-color: #feb8a3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  font-size: 18px;
  color: #ef665c;
}

.navItem:hover , .navItem:focus {
  font-size: 20px;
  color: #317067;
}


/* --- FOOTER COMPONENT --- */
.footer {
  width: 100vw;
  display: inline-flex;
  justify-content: center;
}

.item {
  display: block;
  padding: 5px 15px;
  height: 40px;
}

.socialLogo {
  display: block;
  max-height: 100%;
  width: auto;
}
