@media screen and (min-width: 600px) {
  .menu {
    width: 70%;
    float: left;
    margin-right: 30%;
  }
  .navItem {
    font-size: 18px;
    align-self: center;
  }
}

@media screen and (min-width: 720px) {
  .menu {
    width: 60%;
    margin-right: 40%;
  }
}
